*{
	margin:0px;
	padding:0px;
}
body{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack:center;
	background: #ccc url(../images/2.jpg)repeat fixed;
	/*background-size****************************/
	background-size:cover;
}
#mainWrapper{
	/*max-width:1200px;
	margin:0px 0px;*/
	max-width:800px;
	margin:0 auto;

	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
	background-size:100% 100%;


	/*border:1px solid black;*/

}
#ucscLogo{
	margin-top:-140px;
	margin-left:950px;
	float:left;
}

label{
	margin:10px;
	display: inline-block;
	float: left;
	clear: left;
	width: 160px;
	text-align: left;
}
input {
	height:25px;
	width:200px;
	font-size:16px;
	padding-left:5px;
	border-radius:5px;
	margin-left:100px;
}
#change{
	font-weight:bold;
	height:35px;
	width:100px;
	margin-top:20px;
	margin-left:350px;
	border-radius:5px;
}

#updateForm{

	/*width:40%;*******************************/
	width:80%;

	border-radius:5px;
	/*margin:20px;****************************/
	height:340px;
	margin-left:auto;
	margin-right:auto;
	margin-top:200px;
	padding:90px;
	background:#F7F9FA;
	background-color:rgba(250,250,250,0.25);
}
#hr {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left:32px;
	margin-right: 72px;

	border-width: 1px;

}

