*{
	margin:0px;
	padding:0px;
}
body{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack:center;
	background: #ccc url(../images/2.jpg)repeat fixed;
}
#mainWrapper{
	/*max-width:1000px;*****************************/
	/*margin:0px 0px;******************************/
	max-width:800px;
	margin:0 auto;

	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
	background-size:100% 100%;


	/*border:1px solid black;*/

}
#header{
	background:#f1f1f1;
	/*border:3px solid black;*/
	height:150px;
	margin:20px;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	position:relative;
	background-color:rgba(250,250,250,0.5);
	border-radius:15px;
}
#welcome{
	font-size:50px;
	margin:20px;
	text-align:center;
	display:inline-block;
}
#ucscLogo{
	margin-top: -100px;
	margin-right:-120px;
	float:right;
}
#easypayLogo{
	margin:20px;
	float:right;
}
#regForm{
	text-align:center;
	/*width:40%;*******************************/
	width:75%;

	border-radius:5px;
	/*margin:20px;****************************/
	margin:70px;
	margin-top: 150px;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	background:#F7F9FA;
	background-color:rgba(250,250,250,0.25);
}
#signup{
	margin:10px;
}

#username{
	height:30px;
	width:295px;
	font-size:16px;
	margin:10px;
	border-radius:5px;
}
#password{
	height:30px;
	width:295px;
	font-size:16px;
	margin:10px;
	border-radius:5px;
}
#password_again{
	height:30px;
	width:295px;
	font-size:16px;
	margin:10px;
	border-radius:5px;
}
#name1{
	height:30px;
	width:295px;
	font-size:16px;
	margin:10px;
	border-radius:5px;
}
#name2{
	height:30px;
	width:295px;
	font-size:16px;
	margin:10px;
	border-radius:5px;
}
#regNumber{
	height:30px;
	width:295px;
	font-size:16px;
	margin:10px;
	border-radius:5px;

}
#email{
	height:30px;
	width:295px;
	font-size:16px;
	margin:10px;
	border-radius:5px;
}
#phoneNo{
	height:30px;
	width:295px;
	font-size:16px;
	margin:10px;
	border-radius:5px;
}
#nic{
	height:30px;
	width:295px;
	font-size:16px;
	margin:10px;
	border-radius:5px;
}
#dob{
	height:30px;
	width:295px;
	font-size:16px;
	margin:10px;
	border-radius:5px;
	/*color: darkgray;*/
}
#year{
	height:30px;
	width:295px;
	font-size:16px;
	margin:10px;
	border-radius:5px;
}
#next{
	font-weight:bold;
	height:35px;
	width:100px;
	margin-top:20px;
	margin-left:195px;
	border-radius:5px;
}
#navBar{
	/*position:absolute;*/
	height:30px;
	/*background-color:cornflowerblue;*/
	background-color:rgba(250,250,250,0.5);
	margin-left:40px;
	bottom:0px;

}

#navBar ul{
	list-style:none;

}
/*#navBar li{
	float: left;
	margin-left:0px;
*/

}
#navBar li a{
	float: left;
	text-decoration:none;
	color:#FFFFFF;
}

#navBar a{
	font-family: Trebuchet MS, sans-serif;
	display: block;
	color:white;
	text-decoration: none;
	padding:0 15px 0 30px;
	margin-right:10px;
	text-align:left;
	line-height:25px;
	background: url(../images/icon.ico) -128px -128px;
	border:none;
	border-radius:5px;
}
#navBar a:hover{
	background-position: -186px -200px;
	color: #f8b449;
}

#topic{
	font-size:20px;
	float:left;
	margin-top:20px;
	margin-bottom:10px;
	color:black;
	font-weight:bold;
}
label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}

#table{
	margin: 50px;
	border-width: 5px;
	table-layout: fixed;
	border-style: solid;
	font-size: 130%;
}
input[type='radio'] {
	transform: scale(1);
}
